.DS_Store
Paskaitos/~$LIKTA_AI_1st_Webinar_Introduction_to_AI_Lithuanian.pptx
Paskaitos/~$LIKTA_AI_2nd_Webinar_AI_in_the_Industry_Lithuanian.pptx
Paskaitos/~$LIKTA_AI_3rd_Webinar_Azure_ML_Designer_Lithuanian.pptx
Paskaitos/~$LIKTA_AI_4th_Webinar_Introduction_to_AI_Lithuanian.pptx



